@model IEnumerable<ampare_backend.Models.Cadastro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
				@Html.DisplayFor(modelItem => item.Perfil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdCadastro" class="btn btn-secondary">Detalhar</a>
                <a asp-action="Edit" asp-route-id="@item.IdCadastro" class="btn btn-warning">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.IdCadastro" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
