@model ampare_backend.Models.Projeto

@{
    ViewData["Title"] = "Apagar Projeto";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Apagar</title>
</head>
<body>

    <h3>Tem certeza que deseja apagar esse cadastro?</h3>
    <div>
    <h4>Cadastro Projeto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsavelProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsavelProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoProjeto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProjeto" />
            <input type="submit" value="Apagar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>
</body>
</html>
