@model ampare_backend.Models.Projeto

@{
    ViewData["Title"] = "Detalhes Projeto";
}

<div>
    <h4>Projeto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ONG vinculada
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CadastroOng.Nome)
        </dd>
        <dt class = "col-sm-2">
            Responsavel pelo projeto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsavelProjeto)
        </dd>
        <dt class = "col-sm-2">
            Nome do projeto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProjeto)
        </dd>
        <dt class = "col-sm-2">
            Descricao do projeto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoProjeto)
        </dd>
        <dt class = "col-sm-2">
            Ativo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusProjeto)
        </dd>
        <dt class = "col-sm-2">
            Data de inicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            Cidade
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeProjeto)
        </dd>
        <dt class = "col-sm-2">
               Estado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoProjeto)
        </dd>
    </dl>
</div>
<div>
        <a asp-action="Edit" asp-route-id="@Model?.IdProjeto" class="btn btn-warning">Editar</a> 
        <a asp-action="Index" class="btn btn-success">Voltar</a>
</div>
