@model ampare_backend.Models.Projeto

@{
    ViewData["Title"] = "Detalhes Projeto";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Projeto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsavelProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsavelProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CidadeProjeto)
        </dd>
        <dt class = "col-sm-2">
                Ativo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoProjeto)
        </dd>
    </dl>
</div>
<div>
        <a asp-action="Edit" asp-route-id="@Model?.IdProjeto" class="btn btn-warning">Editar</a> 
        <a asp-action="Index" class="btn btn-success">Voltar</a>
</div>
</body>
</html>
