@model IEnumerable<ampare_backend.Models.Projeto>

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdOng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsavelProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CidadeProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoProjeto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CidadeProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoProjeto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProjeto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProjeto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProjeto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
