@model IEnumerable<ampare_backend.Models.Projeto>

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
        <a asp-action="Create" class="btn btn-primary btn-lg">Incluir novo projeto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ONG vinculada
            </th>
            <th>
                Responsavel
            </th>
            <th>
                Nome
            </th>
            <th>
                Descricao
            </th>
            <th>
                Status
            </th>
            <th>
                Inicio
            </th>
            <th>
                Cidade
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsavelProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CidadeProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoProjeto)
            </td>
            <td>
                        <a asp-action="Details" asp-route-id="@item.IdProjeto" class="btn btn-secondary">Detalhar</a>
                        <a asp-action="Edit" asp-route-id="@item.IdProjeto" class="btn btn-warning">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.IdProjeto" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
